html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    font-family: 'Arial', 'Microsoft Yahei', sans-serif;
}

ul, li {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}