@mixin box {
    margin: 10px 5px 10px 5px;
    border: 1px solid #9ecf2c;
    border-radius: 5px;
    padding: 10px 5px 10px 5px;
}

.todoist-header {
    height: 35px;
    width: 100%;
    background-color: #dc65e9;
    position: relative;
    z-index: 200;

    .todoist-header-nav {
        display: grid;
        height: 35px;
        margin: auto;
        align-items: center;

        .todoist-icon {
            margin-left: 35px;
            grid-area: 1 / 1;
            display: flex;

            .todoist-description {
                font-size: 5px;
                margin-left: 10px;
            }
        }

        .todoist-header-info {
            text-align: right;
            margin-right: 60px;
            grid-area: 1 / 2;

            svg {
                width: 14px;
                height: 14px;
            }
        }
    }
}

.todoist-content {
    background-color: #e5e0e6;
    margin: auto;
    width: 700px;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 35px;
    border-radius: 5px;

    .content-filter {
        @include box();
    }

    .content-tasks {
        @include box();

        .tasks-day-item {
            position: inherit;
            margin-left: 10px;
            margin-bottom: 10px;

            .tasks-day {
                font-size: 15px;
                font-weight: bold;
                margin-bottom: 5px;
            }

            .tasks-item {
                margin-left: 15px;
                margin-bottom: 5px;
                font-size: 13px;
            }
        }
    }

    .content-add-task {
        @include box();
        display: flex;

        .add-task-input {
            outline-style: none;
            border: 1px solid #ccc;
            padding: 3px;
            font-size: 6px;
            font-family: 'Microsoft soft';
            width: 500px;
            border-radius: 3px;
            margin-right: 10px;
        }
    }
}